<template>
  <q-expansion-item :icon="kata.icon" label="记录信息">
    <q-card>
      <q-card-section>
        <div class="q-pa-md q-gutter-sm">
          <q-btn
            type="a"
            :href="`https://www.codewars.com/kata/${kata.id}`"
            target="_blank"
            color="secondary"
            label="原题页面"
          />
          <q-btn
            type="a"
            :href="`https://www.codewars.com/kata/${kata.id}//train/javascript`"
            target="_blank"
            color="secondary"
            label="直接开始(JS)"
          />
        </div>
      </q-card-section>
      <q-card-section>
        <p>
          <b>提出者：</b>
          {{ kata.reporter }}
        </p>
        <p>
          <b>提出时间：</b>
          {{ formatReportedTime(kata.reportedTime) }}
        </p>
        <p>
          <b>优秀解决方案：</b>
          <template v-if="kata.coolSolutions">
            <q-btn
              flat
              rounded
              color="primary"
              :label="item"
              v-for="(item, index) in kata.coolSolutions"
              @click="handleSolutionClick(kata, index)"
            />
          </template>
        </p>
        <p>
          <b>已解决此题者：</b>
          <span v-for="name in kata.sakamotos">{{ name }}</span>
        </p>
        <p>
          <b>备注：</b>
          {{ kata.comment }}
        </p>
      </q-card-section>
    </q-card>
  </q-expansion-item>
</template>

<script setup lang="ts">
import { reactive } from 'vue';
import { getKatas } from '../../data/katas';
import dayjs from 'dayjs';

enum KataFilterType {
  KYU,
}

const props = defineProps({
  id: {
    type: String,
    required: true,
  },
});

const kata = reactive(getKatas().find((k) => k.id === props.id));

const handleSolutionClick = (kata, index) => {
  const { reviewID, coolSolutions = [] } = kata;
  if (!reviewID || coolSolutions.length < index) alert('解决方案配置不正确！');
  window.open(`https://www.codewars.com/kata/reviews/${reviewID}/groups/${coolSolutions[index]}`);
};

const formatReportedTime = (val) => dayjs(val).format('YYYY-MM-DD HH:mm:ss');
</script>

<style lang="scss" scoped></style>
